<ul>
    {{#each list}}<li>{{title}}</li>{{/each}}
</ul>
<a href="?type=json&download=true">下载列表</a>
<form action="" method="post">
    <input type="file" name="file"><input type="submit" value="比较">
</form>