<form action="" method="post">
    <p>原始目录：<input type="text" name="rootPath"></p>
    <p>输出目录：<input type="text" name="outPath"></p>
    <p>中心对齐：<input type="checkbox" name="isCenter"></p>
    <p>包括图片：<input type="checkbox" name="isFull" checked></p>
    <p><input type="submit" value="确定"></p>
</form>