<form action="" method="post">
    <p>下载路径：<input type="text" name="dirPath" value="d:/download"></p>
    <p>文件列表：<textarea name="files" rows="20" cols="80">["https://langzhai.github.io/README.md",
"https://langzhai.github.io/favicon.ico",
"https://langzhai.github.io/index.html",
"https://langzhai.github.io/css/article.min.css"]</textarea></p>
    <p><input type="submit" value="下载"></p>
</form>